<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">

  <% newListItems.forEach(function(item){ %>
  <form action="/markComplete" method="post">
    <div class="item">
      <input type="checkbox" name="completed" onChange="this.form.submit()" <%=item.completed ? 'checked' : '' %>>
      <p><%=item.name%></p>
      <p><%=item.completed ? 'completed' : '' %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    <input type="hidden" name="itemId" value="<%= item._id %>"></input>
  </form>
  <% }) %>

  <form class="item" action="/addItem" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button class="btn1" type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>

  <form action="/delete" method="post">
    <button class="btn2" type="submit" value="<%= listTitle %>">Clear Marked</button>
    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
  </form>
</div>

<%- include("footer") -%>
